<div class="div-container">
    <div class="container">
        <div class="form-container">
            <div class="form login-form">
                <h2>Login</h2>
                <input type="text" placeholder="Username">
                <input type="password" placeholder="Password">
                <button routerLink="/">Login</button>
                <p>No tienes una cuenta? <a id="showSignUp">Registrate</a></p>
            </div>
            <div class="form signup-form">
                <h2>Registro</h2>
                <input type="text" placeholder="Username">
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <input type="password" placeholder="Confirm Password">
                <button routerLink="/">Sign Up</button>
                <p>Tienes una cuenta? <a id="showLogin">Login</a></p>
            </div>
        </div>
    </div>
</div>
