<div>
    <p class="piePaginaTitulo">
        Contacto:
    </p>
    <p class="piePaginaDireccion">
        <img class="logoDireccion" src="../../../../assets/correo.png">
        MundoArgentino&#64;gmail.com
    </p>
    <p class="piePaginaNumero">
        <img class="logoNumero" src="../../../../assets/telefono.png">
        2602606060
    </p>
    <p class="piePaginaEnlace1">
        Politica de privacidad
    </p>
    <p class="piePaginaEnlace2">
        Ayuda
    </p>
    <p class="piePaginaEnlace3">
        Soporte técnico
    </p>
</div>
